* {
    box-sizing: border-box;
    font-family: Poppins;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1226px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

body {
    background-color: #141414;
}

header {
    padding: 28.5px 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav__list-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #BDBDBD;
}

.nav__cta {
    display: flex;
    gap: 24px;
}

.nav__cta-btns {
    display: flex;
    gap: 32px;
}

.nav__cta-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.nav__cta-links {
    display: flex;
    gap: 16px;
}

.nav__cta-link {
    padding: 13.5px 32px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 32px;
    color: #fff;
}

.nav__cta-link-yllw {
    padding: 13.5px 32px;
    border: 1px solid #FFC107;
    border-radius: 32px;
    color: #000;
    background-color: #FFC107;
}

/*======================*/
/*=========HOME=========*/
/*======================*/

.home {
    display: flex;
    align-items: center;
    background-image: url('./imgs/Background\ Graphics.svg');
    background-repeat: no-repeat;
    background-position: right;
    height: 707px;
}

.home__title {
    font-weight: 600;
    font-size: 54px;
    line-height: 144%;
    letter-spacing: 0%;
    color: #F5F5F5;
    max-width: 672px;
    margin-bottom: 22px;
}

.home__title-yllw {
    color: #FFC107;
}

.home__subtitle {
    display: flex;
    gap: 16px;
    font-weight: 400;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #BDBDBD;
    margin-bottom: 58px;
}

.home__link {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: #000;
    background-color: #FFC107;
    padding: 14.5px 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 32px;
    border: 4px solid #141414;
    box-shadow: 0px 0px 0px 1px rgba(255, 193, 7, 0.4);

}

.home__link::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(255, 193, 7, 0.59), transparent);
    z-index: 2;
    filter: blur(8px);
}

/*======================*/
/*=========ABOUT========*/
/*======================*/

.about {
    background-color: #1C1C1C;
    color: #F5F5F5;
    border-radius: 32px;
    margin-bottom: 100px;
}

.about__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 67px;
    padding: 8px 32px;
    text-align: center;
}

.about__list-num {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 12px;
}

.about__list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #BDBDBD;
}